:root {
    --couleur-primaire : #ffffff;
}

body {
color: #000000;
background-color:#ffffff;
font-family: Helvetica,monospace;
}

h1 {
font-size: 20px;
}

a {
color: #e2af78;
}

footer, .skip-links{
    display: none;
}
