:root {
    --couleur-primaire : #000000;
}

body {
color: #ffffff;
background-color:#000000;
font-family: Helvetica,Arial,monospace;
}

h1 {
font-size: 20px;
color: #ffffff;
}

a {
color: #e2af78;
}

footer, .skip-links{
    display: none;
}
